:root {
  /* violet */
  --primary-color: 111, 76, 255;

  /* white */
  --text-color: 256, 256, 256;

  --bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  background: hsla(184, 85%, 63%, 1);
  background: linear-gradient(45deg, hsla(184, 85%, 63%, 1) 0%, hsla(240, 46%, 76%, 1) 50%, hsla(319, 72%, 75%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(184, 85%, 63%, 1) 0%, hsla(240, 46%, 76%, 1) 50%, hsla(319, 72%, 75%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(184, 85%, 63%, 1) 0%, hsla(240, 46%, 76%, 1) 50%, hsla(319, 72%, 75%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#4FE6F1", endColorstr="#A6A6DE", GradientType=1);
}

a {
  color: aliceblue;
}

h2 {
  margin-top: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

main {
  padding: 10px;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  color: aliceblue;
}

.about {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: 'DM Sans', sans-serif;
  padding: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.271);
}

.text-gradient {
  background: linear-gradient(to right, #30CFD0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume-btn {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  border: 0;
  transition: all o.3s ease;
}

.resume-btn:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

.projects {
  font-size: 1.3rem;
  padding: 30px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.271);
}

.heading {
  font-size: 2.2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.card {
  border-radius: 20px;
  color: white;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  padding: 30px;
}

.card::before {
  content: "";
  position: absolute;
  background-image: var(--bg-image);
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(30px);
}

.card article {
  padding: 10px;
}

.card img {
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  height: auto;
  transition: all 0.4s ease;
}

.card img:hover {
  transform: scale(1.5, 1.5);
}

.buttons-div {
  padding-left: 10px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons-div a {
  text-decoration: none;
  font-weight: bolder;
  padding: 7px 20px;
  margin-right: 10px;
  border-radius: 25px;
  color: rgb(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.techStack {
  border-bottom: 1px solid rgba(255, 255, 255, 0.271);
  padding: 30px 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.skills img {
  width: 100px;
  height: auto;
}

.reachMe {
  font-size: 1.3rem;
  padding: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.271);

}

.reachMe-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.reachMe a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.874);
  border-radius: 23px;
  padding: 7px 20px;
  transition: all o.3s ease;
  background-color: rgba(var(--primary-color), 0.35);
  border: 1px solid rgba(var(--primary-color), 0.5);
  color: rgba(var(--text-color), 0.9);
}

.reachMe a:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

footer {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  color: white;
}

@media (max-width: 768px) {

  .main {
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  }

  .wrapper {
    width: 100%;
  }

  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card img {
    width: 100%;
  }

  .buttons-div a {
    margin-bottom: 10px;
  }

  .skills img {
    width: 70px;
  }
}

@media (max-width: 1200px) {
  .main {
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  }

  .wrapper {
    width: 100%;
  }

}